// app global css in SCSS form
@import '@fontsource/questrial';  /*yarn add @fontsource/questrial*/

:root {
  --q-font-family: 'Questrial', sans-serif;
  font-size: 16px;
  --q-font-size-base: 16px !important;
  --q-body-font-size: 16px !important;
}

* {
  font-size: inherit;
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}