// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #0090FF; // Light Blue
$secondary : #9300B8; // Light Purple
$accent    : #EE82EE; // Light Pink

$dark      : #371561; // Dark Purple
$dark-page : #13024F; // Dark Blue
$light-page: #f8f8f8;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

// Global border radius
$generic-border-radius: 20px !default;

// Component-specific overrides
$button-border-radius: $generic-border-radius !default;
$card-border-radius: $generic-border-radius !default;
$input-border-radius: $generic-border-radius !default;
$table-border-radius: $generic-border-radius !default;
$list-border-radius: $generic-border-radius !default;
$menu-border-radius: $generic-border-radius !default;
$tooltip-border-radius: $generic-border-radius !default;
